@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {

    min-height: 100vh;
    background-color: rgb(48, 48, 48);
    color: rgb(196, 200, 202);
        font-family: "Rubik", sans-serif;
font-size: large;
}


* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;

}

header ul {
    display: flex;
    justify-content: space-between;
    padding: 4px 200px ;
}

header nav ul li a {
    text-decoration: none;
        color: rgb(196, 200, 202);
        text-transform:uppercase;

}

header {
    height: 100%;
    background-color: rgba(41, 43, 65, 0.421);
    position: sticky;
    left: 0;
    top: 0;
    z-index: 999;
}

main {
    margin: 60px 200px;
}

footer {
    text-align: center; 
}

.cork {
    background-image: url('/public/images/cork-board.jpg');
    margin: 4em;
    padding: 4em;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.2) inset, -10px -10px 10px rgba(0, 0, 0, 0.229) inset;
    border-radius: 1em;
}